body {
  background-color: #555555;
  margin: 0px;
}

div.navbar {
  background-color: #333333;
}

a {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  background-color: #333333; 
  color: black; 
  border: 2px solid #555555;
}

a:hover {
  background-color: #555555;
  color: white;
}

div.polaroid {
  width: 20%;
  background-color: ghostwhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 25px;
  padding: 10px;
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 5px #333333;
}
div.polaroid:nth-child(odd) {
  transform: rotate(2deg);
}

div.polaroid:nth-child(even) {
  transform: rotate(-3deg);
}

div.description {
  text-align: center;
  padding: 10px 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}